{% extends "base.html" %} 



{% block main %}

             <div class="d-flex justify-content-center">
                <div class="card col-8 mb-4 mt-4">
                    <div class="card-body">
                        <h2 class="text-center">Adding a new article</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <!--  Fields for filling-->
                            <div>
                                <input type="hidden" name="csrfmiddlewaretoken" value="1a7PHLHTRx8Sw0dH0fZEJhG0qmM6DgmHwSzhFvF16RnABVuToWnPfEFd2X58cUTj">
                                <p>
                                    <label for="id_title">Article title:</label>
                                    <input type="text" name="title" class="form-control" maxlength="255" required id="id_title">
                                </p>
                                <p>
                                    <label for="id_content">Text title:</label>
                                    <textarea name="content" cols="40" rows="10" class="form-control" required id="id_content">Everything will happen soon.</textarea>
                                </p>
                                <p>
                                    <label for="id_photo">Image:</label>
                                    <input type="file" name="photo" class="form-control" accept="image/*" id="id_photo">
                                </p>
                                <p>
                                    <label for="id_category">Category:</label>
                                    <select name="category" class="form-control" required id="id_category">
                                        <option value="" selected>---------</option>
                                        <option value="1">terraria</option>
                                        <option value="2">minecraft</option>
                                        <option value="3">S.T.A.L.K.E.R Call of Pripyat</option>
                                    </select>
                                </p>
                            </div>
                            <button class="btn btn-dark" type="submit">Post article</button>
                        </form>
                    </div>
                </div>
            </div>
            <div><div style="margin-top: 100px;"></div></div>

{% endblock main %}